body{
  background-color: white !important;
}
#cards-container {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-card {
  max-width: 500px;
  margin: 40px 0px;
  color: #000000;
  text-align: left;
  max-height: 200px;
  background-color: #ffffff;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.card-active {
  max-height: 1000px;
}

.card-select {
    transition: border 0.15s;
    cursor: pointer;
    max-width: 800px;
    min-width: 200px;
  }
  
.card-select:hover {
    border: 1px solid black;
  }
  
.card-buttons {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 30px;
  }
  
.card-buttons button {
    width: 240px;
    margin: 10px; 
  }
  
  
 .list-group-item {
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .list-group-item:hover {
      background-color: #F5F5F5;
    }
    
  .crossed-out {
      text-decoration: line-through;
      color: rgb(143, 143, 143);
    }


  .buttons-container {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
    }

    .demobtn{
      width: 120px;
      margin: 10px;
      border: 0px;
      transition: background-color 0.3s;
    }

    .demobtn.save{
      background-color: rgb(169, 159, 255);
    }

    .demobtn:hover{
      background-color: rgb(138, 125, 255);
      color: black;
      
    }

  .card-header.color{
    background-color: rgb(169, 159, 255);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .card-header.color:hover{
    background-color: rgb(138, 125, 255);
  }

  .header-text{
    font-size: 16px;

  }
  .editablecontent {
    transition: all 0.3s ease;
  }

  .editablecontent.active-field {
    background-color: rgb(243, 243, 243)
  }

  .EditTools-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;  
    align-items: left;     
    margin: 10px 10px 10px -5px;
    border-radius: 5px;
  }

  .EditTools-container .btn {
    background-color: rgb(199, 199, 199);
    font-size: 12px;
    color: #000000;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin: 5px;
  }
  .EditTools-container .btn:hover {
    background-color: #adadad;
  }

  .edit-mode {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 0px; 
  }
  .card-header {
    grid-column: span 2; 
  }

  .editCardButton {
    background-image: url('../../../public/icons/edit-icon-03.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 30px;
    width: 30px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .editCardButton:hover {
    opacity: 0.6;
  }

  .formGroup{
      text-align: left;
      margin-top: 60px;
      padding: 40px;
      color: black;
      border: 1px solid #b4b4b4;
      border-radius: 10px; 
      background-color: #ffffff;
    }
      .formGroup form{
        margin-bottom: 40px;

      }

      .formGroup label{
        padding: 0;
      }



    .btn-secondary{
      width: 240px;
    }
  
    .floating-component {
      color: #000000;
      text-align: left;
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ccc;
    }
      .floating-component button{
        margin: 5px;
      
      }

    .btn-editTools{
      margin-top: 10px;
      width: 100%;
      background-color: #6c757d;
      font-size: 12px;
      color: #ffffff;
    }


