.card-active{
    border-color: rgb(0, 0, 0);
    border: 2px solid;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

.active-field{
    background-color: rgb(250, 249, 216);
}