.floatingContainer{ 
  width: 768px;  
  padding: 20px;
  text-align: left;
  position: fixed;
  top: 100px;
  right: 140px;
 
}
.createCard.card {
    color: #000000;
    max-width: 600px;
    text-align: left;
    padding: 20px;
    text-align: left;
  }

  .card-header.custom-header{
    background-color: #ececec;
    height: 38px;
    
  }

  .whiteHeading{
    color: #fff;
  }

  .btn-deleteTask {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    
  }
  
  .trash-icon {
    fill: #fff;
    height: 15px;
    width: auto;
  }

  .btn-createCard {
    width: 240px;
    color: #fff;
    background-color: rgb(169, 159, 255);
    border-color: rgb(169, 159, 255);
    margin: 20px;
  }

  .btn-creteCard.save:hover{
    color: #fff;
    background-color: rgb(138, 125, 255);
    border-color: rgb(138, 125, 255);
  }

  hr{
    background-color: #fff;
    margin: 24px;
  }

  .editToolsContainer{
    color: #000000;
    background-color: rgb(255, 255, 255) !important;
    text-align: left;
    margin-bottom: 20px;
    width: 150px;
    border-radius: 5px !important;
    border: 1px solid #000;
    padding: 10px;
 
  }
  .membersButton{
    width: 90%;
    margin: 5px;
  }
  .colorButton{
    width: 90%;
    height: 30px;
    margin: 5px;
    cursor: pointer;

  }
  .colorButton:hover{
   opacity: 60%;

  }

  .newCardContainer{
    max-width: 800px;
    text-align: left;
    padding: 40px;
  /*background-color: #F5F5F5;
    border: 1px solid #000; */
    margin: 20px;
  
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 50% black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-button {
    font-size: 20px;
    cursor: pointer;
    color: black;
  }

  .custom-column {
    margin: 0;
    max-width: 600px;
  }

  .addNewCardButton-container{
      position: fixed;
      bottom: 40px;
      right: 40px;
    }
    
  .addNewCardButton{
    position: fixed;
    top: 100px;
    right: 150px;
    z-index: 99;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: rgb(169, 159, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 24px;
    border: 1px solid black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    
  }

  .addNewCardButton:hover{
    background-color: rgb(138, 125, 255);
    color: #fff;
  }

  @media (max-width: 767px) {
   
    .editToolsContainer{
      width: 100%;
      border: 0px;
      margin-bottom: 10px;
    }
    .floatingElements{
      width: 100%;
    }
    .addNewCardButton{
      visibility: hidden;
    }
    .floatingContainer{ 
      width: 90%;  
      padding: 20px;
      text-align: left;
      position: auto;
      top: auto;
      right: auto;
     
    }
    .newCardContainer{
      max-width: 800px;
      text-align: left;
      padding: 10px;
      background-color: #f5f5f500;
      border: 0px solid #000;
    }

    .membersButton{
      width: 120px;

    }
    .colorButton{
      width: 30px;
      height: 30px;
  
    }


  }