.floatingElements{
  width: 768px;
  background-color: rgb(255, 255, 255);
  padding: 60px 20px;
  text-align: left;
 
}
.createCard.card {
    color: #000000;
    max-width: 600px;
    text-align: left;
    padding: 20px;
    text-align: left;
  }

  .card-header.custom-header{
    background-color: #ececec;
    height: 38px;
    
  }

  .btn-deleteTask {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    
  }
  
  .trash-icon {
    fill: #fff;
    height: 15px;
    width: auto;
  }

  .btn-createCard {
    width: 240px;
    color: #fff;
    background-color: rgb(169, 159, 255);
    border-color: rgb(169, 159, 255);
    margin: 20px;
  }

  .btn-creteCard.save:hover{
    color: #fff;
    background-color: rgb(138, 125, 255);
    border-color: rgb(138, 125, 255);
  }

  hr{
    background-color: #fff;
    margin: 24px;
  }

  .editToolsContainer{
    color: #000000;
    background-color: #fff;
    text-align: left;
    margin-bottom: 20px;
    max-width: 150px;
    box-shadow: 1px 1px 2px rgb(190, 190, 190);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 10px;
 
  }

  .editToolsContainer .btn{
    width: 120px;
    margin: 5px;

  }
  .colorButton{
    height: 30px;
    cursor: pointer;

  }
  .colorButton:hover{
   opacity: 60%;

  }

  .custom-column {
    margin: 0;
  }

  @media (max-width: 767px) {
   
    .editToolsContainer{
      max-width: 100%;
    }
    .floatingElements{
      width: 100%;
    }
  }