.container.profilePage{
    max-width: 500px;
    text-align: left;
}

h1, h2, h3, p{
    color: black;
}

label{
    color: black;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.profilePicPlaceholder{
    
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  color: #fff;
  background-color: #333;
}

.custom-container {
        padding:0;
    }
    
  .btn-profile.save{
    width: 240px;
    color: #fff;
    background-color: rgb(169, 159, 255);
    border-color: rgb(169, 159, 255);
  }

  .btn-profile.save:hover{
    color: #fff;
    background-color: rgb(138, 125, 255);
    border-color: rgb(138, 125, 255);
  }
  
  .btn-profile.change{
    background-color: #fff;
    border: 2px solid black;
    color: black;
  }
  input{
    margin-top: 0;
  }

  .colors{
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50px;
    transition: opacity 0.3s ease;
  }
  .colors:hover{
    opacity: 60%;
   
  }
  
