body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #032838 !important; */
  background: linear-gradient(to bottom, #005A84, #022D4C, #072B3A);

}
.container {
  max-width: 80%;
  min-width: 300px;
  padding: 60px 40px;
  background-color: #ffffff;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}

.main-content {
  display: flex;
  justify-content: center;

}




/* .App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}  */


.navbar{
  padding: 10px 20px;
}

.navbar-brand{
  font-size: 16px;
}

@media (max-width: 767px) {
 
  body{
      padding: 10px;
  }
  .container {
      margin: 10px;
      padding: 60px 5px;
    }
}
